*{
    box-sizing: border-box;
}

/* TYPOGRAPHY */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.3rem;
}

h1, h2, h3, h4, p{
    margin: 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

h4{
    font-size: 2rem;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 3.5rem;
    }

    h3{
        font-size: 2.8rem;
    }

    h4{
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.5rem;
    }

    h1{
        font-size: 6.2rem;
    }

    h2{
        font-size: 3.8rem;
    }

    h3{
        font-size: 3rem;
    }

    h4{
        font-size: 2.5rem;
    }
}

/* LINK */
.link:hover{
    cursor: pointer;
}

/* LOGO */
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (min-width: 768px){
    .icon{
        width: 60px;
        height: 60px;

    }
}

@media screen and (min-width: 1024px){
    .icon{
        width: 70px;
        height: 70px;
    }
}

/* LIST */
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item{
    margin-left: 2rem;
}

.list-item:first-child{
    margin-left: 0;
}

.list-row .list-item{
    margin: 0;
    margin-top: 2rem;
}

.list-row .list-item:first-child{
    margin-top: 0;
}

/* DISPLAY */
.d-flex-row{
    display: flex;
    flex-direction: row;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
}