:root{
    --icon-bg-color: #cbcbcb;
    --font-color-primary: #fff;
    --font-color-secondary: #6b6b6b;
    --container-bg-color: #202020;
}

*{
    box-sizing: border-box;
}

/* TYPOGRAPHY */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.3rem;
    margin: 0;
}

h1, h2, h3, h4, p{
    margin: 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

h4{
    font-size: 2rem;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 3.5rem;
    }

    h3{
        font-size: 2.8rem;
    }

    h4{
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.5rem;
    }

    h1{
        font-size: 6.2rem;
    }

    h2{
        font-size: 3.8rem;
    }

    h3{
        font-size: 3rem;
    }

    h4{
        font-size: 2.5rem;
    }
}

/* LINK */
.link{
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
}

.link:visited{
    color: black;
}

/* LOGO */
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (min-width: 768px){
    .logo{
        width: 60px;
        height: 60px;

    }
}

@media screen and (min-width: 1024px){
    .logo{
        width: 70px;
        height: 70px;
    }
}

/* ICON */
.icon{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

/* LIST */
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item{
    margin-left: 2rem;
}

.list-item:first-child{
    margin-left: 0;
}

.list-row .list-item{
    margin: 0;
    margin-top: 2rem;
}

.list-row .list-item:first-child{
    margin-top: 0;
}

/* DISPLAY */
.d-flex-row{
    display: flex;
    flex-direction: row;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

/* CONTAINER */
.container{
    margin-top: 30px;
    padding: 0 20px;
}

/* GAME CARD */
.game-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-card{
    /* width: 100%; */
    max-width: 500px;
    /* border: 1px solid black; */
    background-color: var(--container-bg-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px lightgrey;
}

.game-card__img{
    width: 100vw;
    max-width: 500px;
}

.game-card__content{
    color: white;
    margin: 15px;
}

.game-card__explore{
    align-self: center;
}

.game-card__explore .link{
    color: var(--font-color-primary);
}

.game-card__explore:hover p{
    margin-left: 10px;
}

.game-card__explore p{
    margin-left: 5px;
    transition: margin-left 0.8s;
}

.game-card__platforms, .game-card__title, .game-card__brief-info{
    margin-bottom: 10px;
}

.game-card__platforms .list-item{
    margin-left: 8px;
}

.game-card__platforms .list-item:first-child{
    margin-left: 0;
}

.game-card__brief-info .list-item{
    margin: 0;
}

.game-card__brief-info__title{
    color: var(--font-color-secondary);
}

.platform-icon{
    color: var(--font-color-primary);
    width: 17px;
    height: 17px;
}

.platform-icon__nintendo{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    border: 1px solid white;
    padding: 1px 3px;
    border-radius: 5px;
}

/* @media screen and (min-width: 768px){
    .game-card{
        width: 180px;
    }
} */

/* GAME SEARCH */
.game-search{
    border: 1px solid lightgrey;
    border-radius: 20px;
}
.game-search input{
    width: 100%;
    padding: 10px;
    border: 0;
    margin-left: 10px;
}

.game-search input:focus{
    outline: none;
}

/* BUTTON */
.btn{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    border: 1px solid black;
}

@media screen and (min-width: 768px){
    .btn{
        font-size: 1.7rem;
    }
}