<div class="game-card d-flex-col">
    <img class="game-card__img" src="./images/game-gaze-logo.jpeg" alt="">
    <div class="game-card__content d-flex-col">
        <ul class="list game-card__platforms d-flex-row">
            <li class="list-item">
                <img src="./images/android-logo.png" class="platform-icon" alt="">
            </li>
            <li class="list-item">
                <img src="./images/mac-os-logo.png" class="platform-icon" alt="">
            </li>
            <li class="list-item">
                <img src="./images/playstation-logotype.png" class="platform-icon" alt="">
            </li>
            <li class="list-item">
                <img src="./images/xbox-logo.png" class="platform-icon" alt="">
            </li>
            <li class="list-item">
                <div class="platform-icon__nintendo">N</div>
            </li>
        </ul>
        <h2 class="game-card__title">Game Gaze</h2>
        <ul class="list game-card__brief-info">
            <li class="list-item d-flex-row justify-content-between">
                <p class="game-card__brief-info__title">Release date:</p>
                <p class="game-card__brief-info__content">Jan 1, 2024</p>
            </li>
            <li class="list-item d-flex-row justify-content-between">
                <p class="game-card__brief-info__title">Genres:</p>
                <p class="game-card__brief-info__content">Action, RPG</p>
            </li>
            <li class="list-item d-flex-row justify-content-between">
                <p class="game-card__brief-info__title">Chart:</p>
                <p class="game-card__brief-info__content">#1 Top 2024</p>
            </li>
        </ul>
        <div class="game-card__explore d-flex-row">
            <a href="#" class="link">EXPLORE MORE</a>
            <p >></p>
        </div>
    </div>
</div>