<section class="game-detail">
    <div class="game-detail__header">
        <div class="game-detail__img"></div>
        <div class="p-1">
            <h2 class="game-detail__title">GAME TITLE</h2>
            <div class="d-flex-row justify-content-between game-detail__creator">
                <p class="text-color-secondary text-bold">Creator:</p>
                <p class="text-size-142">Naruto</p>
            </div>
            <div class="d-flex-row justify-content-between game-detail__published-date">
                <p class="text-color-secondary text-bold">Published date:</p>
                <p class="text-size-142">01/01/2021</p>
            </div>
        </div>
    </div>
    <div class="game-detail__body">
        <div class="mb-1">
            <p class="text-size-142 text-color-secondary text-bold">About</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id non cumque quibusdam optio blanditiis
                eius, voluptates quo saepe earum numquam.</p>
        </div>
        <div>
            <div class="mb-1 game-detail__platforms">
                <p class="text-color-secondary text-bold">Platforms</p>
                <ul class="list">
                    <li class="list-item">
                        <p class="text-size-142">OS: Windows</p>
                    </li>
                    <li class="list-item">
                        <p class="text-size-142">PlayStations: 3, 4, 5</p>
                    </li>
                    <li class="list-item">
                        <p class="text-size-142">Xbox: One</p>
                    </li>
                </ul>
            </div>
            <div class="mb-1">
                <p class="text-color-secondary text-bold">Genres:</p>
                <ul class="list">
                    <li class="list-item text-size-142">Action</li>
                    <li class="list-item text-size-142">Shooter</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <p class="text-color-secondary text-bold">website</p>
            <a href="#" class="link text-size-142 text-color-primary">Website</a>
        </div>
    </div>
</section>