<header>
    <div class="header-top">
        <a href="#"><img src="./images/game-gaze-logo.jpeg" alt="game gaze logo" class="logo"></a>
        <div class="game-search d-flex-row align-items-center">
            <input id="game-search-input" type="text" maxlength="50" placeholder="Enter a game">
        </div>
        <div class="menu-toggle">
            <div class="bar-1"></div>
            <div class="bar-2"></div>
            <div class="bar-3"></div>
        </div>
    </div>
    <div id="menu" class="overlay">
        <div class="menu-toggle__btn-close">
            <div class="bar-1"></div>
            <div class="bar-2"></div>
        </div>
        <ul class="list overlay-content">
            <li class="list-item"><button class="btn menu-btn">button 1</button></li>
            <li class="list-item"><button class="btn menu-btn">button 1</button></li>
            <li class="list-item"><button class="btn menu-btn">button 1</button></li>
        </ul>
    </div>
</header>